html
    head
        link(rel="stylesheet", type="text/css", href="css/node-test.css")
        link(rel="stylesheet", type="text/css", href="lib/dcjs/dc.css")
    body
        div#dateTimeChart
        div#timeOfDayChart
        // lol cough script has to be run after #chart is in the FUCKING DOM?!?
        script(src="lib/crossfilter/crossfilter.js")
        script(src="lib/d3/d3.js")
        script(src="lib/dcjs/dc.js")
        script(src="lib/reductio/reductio.js")
        script(src="js/node-test.js")
